/* eslint-disable */
/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --clr-brand: hsl(48, 100%, 42%);
  --clr-brand-light: hsl(48, 100%, 60%);
  --clr-brand-dark: hsl(48, 100%, 30%);
  --clr-secondary: rgb(129, 119, 110);
  --clr-dark: #222;
  --clr-light: #eee;
  --clr-fg: var(--clr-dark);
  --clr-bg: var(--clr-light);

  color-scheme: light dark;
  color: var(--clr-fg);
  background-color: var(--clr-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 0;
}


@media (prefers-color-scheme: dark) {
  :root {
    --clr-fg: var(--clr-light);
    --clr-bg: var(--clr-dark);
  }
}

/* ::: FONTS ::: */

/* Normal */
.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Bold */
.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

